/* Стилизация контента страницы*/
body {
    font-family: "Myriad Pro", sans-serif;
}

/*Задаем фиксированную ширину всей верстки*/
.container{
    width: 1280px;
    margin: 0 auto;
}

/* Стилизация шапки сайта*/
.header{
    margin-bottom: 51px;
}

.header-logo{
    display: inline-block;
    font-size: 80px;
    text-decoration: none;
    margin-bottom: 45px;
    margin-top: 61px;
}

.logo-text{
    color: black;
}

.logo-colored{
    color: #00cbff;
}

.header-menu{
    text-align: center;
    background-color: #35444f;
}

.header-menu-list{
    text-decoration: none;
}


.header-menu-item {
    display: inline-block;
}

.header-menu-link {
    padding: 26px 42px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    border-right: 1px solid transparent;
    border-left: 1px solid  transparent;
    transition: all 0.5s ease;
}

.header-menu-link:hover {
    cursor: pointer;
    background-color: #222f3a;
    border-left: 1px solid #828282;
    border-right: 1px solid #828282;
}

.main{
    display: block;
}

.side-bar{
    display: inline-block;
    width: 344px;
    border: 1px solid;
}

.side-bar-menu-item{
    display: block;
}

.side-bar-menu-link {
    display: block;
    text-decoration: none;
    font-size: 27px;
    padding: 25px 0 28px 42px;
    color: #000000;
    border-right: 1px solid transparent;
    border-left: 1px solid  transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.side-bar-menu-link:hover {
    background-color: #dbdbdb;
    padding-left: 65px;
}

.main-content{
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    width: 885px;
}

.main-image{
    position: relative;
    display: inline-block;
    width: 885px;
    height: 529px;
    border: 1px solid;
    margin-bottom: 50px;
}

.main-image-beelzebub{
    position: absolute;
    top: 75px;
    left: 297px;
}

.main-image-beelzebub:hover {
    transform: scale(1.3);
    transition: 1.7s;
}


.main-text{
    display: inline-block;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 30px;
    padding: 0px 35px;
}


.footer-menu{
    background-color: #b4b7ba;
    height: 69px;
    padding-left: 44px;
    margin-bottom: 30px;
}


.footer-menu-item{
    display: inline-block;
}


.footer-menu-link{
    display: inline-block;
    margin: 22px 10px 21px 0;
    font-size: 28px;
    color: #000000;
    text-decoration: none;
    border: none;
}

.footer-menu-link:hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;
}

.copyright-item{
    display: inline-block;
    margin-left: 167px;
    font-size: 24px;
}





